<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moviesguide.kotlinstudy">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/film_app_main_icon"
        android:label="@string/app_name"
        android:windowSoftInputMode="stateHidden"
        android:roundIcon="@drawable/film_app_main_icon"
    android:theme="@style/AppTheme">
        <activity android:name="com.moviesguide.kotlinstudy.ui.MovieImagePreview"></activity>
        <activity android:name="com.moviesguide.kotlinstudy.ui.CategoryActivity" />
        <activity android:name="com.moviesguide.kotlinstudy.ui.Details"
            />
        <activity android:name="com.moviesguide.kotlinstudy.ui.MainActivity"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>